In [110]:
import pandas as pd
from itertools import groupby
from collections import OrderedDict
import json

In [111]:
df=pd.read_csv('/home/bolat/Desktop/react.learning/py/tez/aggrExp2.csv', dtype={'id':str, 'color':str, '1990':str, '1991':str, '1992':str, '1993':str, '1994':str, '1995':str, '1996':str,
       '1997':str, '1998':str, '1999':str, '2000':str, '2001':str, '2002':str, '2003':str, '2004':str, '2005':str,
       '2006':str, '2007':str, '2008':str})

In [112]:
df

,id,color,1990,1991,1992,1993,1994,1995,1996,1997,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
0,EU12-Mean,"hsl(40, 70%, 50%)",117,72,165,287,304,411,521,763,...,1207,1441,1577,1863,2449,3336,4126,5323,7177,8186
1,Turkey,"hsl(341, 70%, 50%)",153,156,229,251,335,642,772,667,...,1438,1517,2336,3160,4928,8099,9370,11689,15582,17873
2,EU15-Mean,"hsl(337, 70%, 50%)",10236,10161,11202,8897,10669,14029,14988,14875,...,18277,18021,18381,20566,25095,29292,29636,31799,37442,37607

In [115]:
results=[]
for (id, color), bag in df.groupby(["id","color"]):
    contents_df = bag.drop(["id", "color"], axis=1)
    data = [OrderedDict(row) for i,row in contents_df.iterrows()]
    results.append(OrderedDict([("id", id),
                                ("color", color),
                                ("data", data)]))
  
    
    print (json.dumps(results[0:3], indent=4))

[
    {
        "id": "EU12-Mean",
        "color": "hsl(40, 70%, 50%)",
        "data": [
            {
                "1990": "117",
                "1991": "72",
                "1992": "165",
                "1993": "287",
                "1994": "304",
                "1995": "411",
                "1996": "521",
                "1997": "763",
                "1998": "1073",
                "1999": "1207",
                "2000": "1441",
                "2001": "1577",
                "2002": "1863",
                "2003": "2449",
                "2004": "3336",
                "2005": "4126",
                "2006": "5323",
                "2007": "7177",
                "2008": "8186"
            }
        ]
    }
]
[
    {
        "id": "EU12-Mean",
        "color": "hsl(40, 70%, 50%)",
        "data": [
            {
                "1990": "117",
                "1991": "72",
                "1992": "165",
                "1993": "287",
                "1994": "304",
                "1995": "411",
                "1996": "521",
                "1997": "763",
                "1998": "1073",
                "1999": "1207",
                "2000": "1441",
                "2001": "1577",
                "2002": "1863",
                "2003": "2449",
                "2004": "3336",
                "2005": "4126",
                "2006": "5323",
                "2007": "7177",
                "2008": "8186"
            }
        ]
    },
    {
        "id": "EU15-Mean",
        "color": "hsl(337, 70%, 50%)",
        "data": [
            {
                "1990": "10236",
                "1991": "10161",
                "1992": "11202",
                "1993": "8897",
                "1994": "10669",
                "1995": "14029",
                "1996": "14988",
                "1997": "14875",
                "1998": "16439",
                "1999": "18277",
                "2000": "18021",
                "2001": "18381",
                "2002": "20566",
                "2003": "25095",
                "2004": "29292",
                "2005": "29636",
                "2006": "31799",
                "2007": "37442",
                "2008": "37607"
            }
        ]
    }
]
[
    {
        "id": "EU12-Mean",
        "color": "hsl(40, 70%, 50%)",
        "data": [
            {
                "1990": "117",
                "1991": "72",
                "1992": "165",
                "1993": "287",
                "1994": "304",
                "1995": "411",
                "1996": "521",
                "1997": "763",
                "1998": "1073",
                "1999": "1207",
                "2000": "1441",
                "2001": "1577",
                "2002": "1863",
                "2003": "2449",
                "2004": "3336",
                "2005": "4126",
                "2006": "5323",
                "2007": "7177",
                "2008": "8186"
            }
        ]
    },
    {
        "id": "EU15-Mean",
        "color": "hsl(337, 70%, 50%)",
        "data": [
            {
                "1990": "10236",
                "1991": "10161",
                "1992": "11202",
                "1993": "8897",
                "1994": "10669",
                "1995": "14029",
                "1996": "14988",
                "1997": "14875",
                "1998": "16439",
                "1999": "18277",
                "2000": "18021",
                "2001": "18381",
                "2002": "20566",
                "2003": "25095",
                "2004": "29292",
                "2005": "29636",
                "2006": "31799",
                "2007": "37442",
                "2008": "37607"
            }
        ]
    },
    {
        "id": "Turkey",
        "color": "hsl(341, 70%, 50%)",
        "data": [
            {
                "1990": "153",
                "1991": "156",
                "1992": "229",
                "1993": "251",
                "1994": "335",
                "1995": "642",
                "1996": "772",
                "1997": "667",
                "1998": "803",
                "1999": "1438",
                "2000": "1517",
                "2001": "2336",
                "2002": "3160",
                "2003": "4928",
                "2004": "8099",
                "2005": "9370",
                "2006": "11689",
                "2007": "15582",
                "2008": "17873"
            }
        ]
    }
]

In [116]:
 with open('Converted_Json.json', 'w') as outfile:
        outfile.write(json.dumps(results[0], indent=4))